body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f4f4f4 0%, #e0e0e0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.welcome-container {
    text-align: center;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none; /* Remueve subrayado de enlaces */
}

.button.new-player {
    background-color: #28a745;
}

.button:hover {
    opacity: 0.9;
}

.tablero {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #d2a679;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#casillas-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.centro {
    width: 130px;
    height: 130px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -52%) rotate(13deg);;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.casilla {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: solid;
    background-color: gray;
}

.especial {
    border: 3px dashed black;
    font-size: 18px;
}

.normal {
    border: 3px solid black;
}

/* Colores de las categorías */
.azul { background-color: #3399ff; }
.rojo { background-color: red; }
.verde { background-color: #00cc00; }
.amarillo { background-color: yellow; }
.rosa { background-color: #ff3399; }
.naranja { background-color: #ff6600; }
.morado { background-color: #9900ff; }
.blanco { background-color: white;}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-input input[type="submit"] {
    color: white;
    cursor: pointer;
}

#dado-container {
    position: absolute;
    bottom: 20px; /* Ajusta la posición según tu tablero */
    left: 70px;
    text-align: center;
}

#dado {
    width: 50px;
    height: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#dado:hover {
    transform: scale(1.1);
}

#resultado-dado {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#ficha {
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
}

#controles {
    display: none;
    margin-top: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}